<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Forgot Password</h1>
      <%- include ('partials/messages'); %>
      <form action="/users/forgotpassword" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="Secret">Secret</label>
          <input
            type="text"
            id="Secret"
            name="Secret"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </form>
    </div>
  </div>
</div>